WORDPRESS_VERSION=latest
WORDPRESS_PORT=8888
PHPMYADMIN_PORT=8889
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress
DB_ROOT_PASSWORD=wordpress
WP_URL=http://localhost:8888
WP_TITLE=WP Plugin DevKit
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=wordpress
WP_ADMIN_EMAIL=admin@example.com
